# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\URC-ncov-AutoReport\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
